<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <storepick>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Fastgento\Storelocator\Model\Carrier\StorePick</model>
                <name>Pick from Shop</name>
                <price>15.00</price>
                <title>Pick from Shop</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </storepick>
        </carriers>
    </default>
</config>
