<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Fastgento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Fastgento_Storelocator::locator_content" title="Storelocator" module="Fastgento_Storelocator" sortOrder="50" parent="Magento_Backend::stores" resource="Fastgento_Storelocator::locator_content" />
        <add id="Fastgento_Storelocator::location" title="Locations" module="Fastgento_Storelocator" sortOrder="0" parent="Fastgento_Storelocator::locator_content" action="locations/index" resource="Fastgento_Storelocator::location"/>
    </menu>
</config>
